<div class="title"> 
  <h3>New Task</h3>
</div>

<form (submit)="createTask()">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="title" [(ngModel)]="newTask.title">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" [(ngModel)]="newTask.description"></textarea>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>

<div *ngFor="let task of tasks" class="task">
  <div class="text-center">
    <b>{{ task.title }}</b><br>
  </div>
    <b>Description:</b> {{ task.description }}
    <p></p>
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="showEdit(task)">Edit</button> 
    <button type="button" class="btn btn-outline-primary btn-sm" (click)="deleteTask(task._id)">Delete</button>
  <p></p>
  <div *ngIf="formHeader == task._id">
    <form (submit)="editTask(task)">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" name="title" [(ngModel)]="updatedTask.title">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" [(ngModel)]="updatedTask.description"></textarea>
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
  </div>
</div>

